.bg-url{
    background-image: url('https://id.chotot.com/_next/image?url=https%3A%2F%2Fstatic.chotot.com%2Fstorage%2Fmarketplace%2Flogin-background.webp&w=1920&q=75');
    background-position: center;
    height: 800px;
}
